.Header {
    display: flex;
    justify-content: space-between;
    top: 0;
}

.Header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2px;
}