.product-page table {
    width: 100%;
}

.product-page tr {
    display: flex;
    justify-content: space-between;
}

.product-page td:last-child {
    vertical-align: top;
    justify-content: left;
    width: 25%; /* Default width */
}

.product-page td:last-child.cart-has-items {
    width: 50%; /* Width when cart has items */
}